@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("tailwindcss"); */
* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
  display: flex;
  flex-wrap: wrap;
}

li {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}