package.json
db.json
ProductManagementSystem/Copilot
ProductManagementSystem/src/copilot
ProductManagementSystem/test
ProductManagementSystem/src/test
ProductManagementSystem/js
ProductManagementSystem/tsconfig.json
ProductManagementSystem/package.json
ProductManagementSystem/db.json
Practice/node_modules
Practice/db.json
Practice/package.json
Practice/package-lock.json
Practice/tsconfig.json
Practice/React/node_modules
Practice/React/.gitignore
Practice/React/.oxlintrc.json
Practice/React/package.json
Practice/React/package-lock.json
Practice/React/tsconfig.app.json
Practice/React/tsconfig.json
Practice/React/tsconfig.node.json
Practice/React/vite.config.ts

