* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#message {
    text-align: center;
    justify-self: middle;
}
header {
    background-color: rgb(5, 170, 19);
    /* height: max(50px, 3vh); */
    vertical-align: middle;
}
nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}
li>button {
    transition: text-decoration-line 5s ease;
    color: rgb(102, 255, 0);
    font-size: larger;
    height: 100%;
}
nav li:hover{
    text-decoration: underline solid pink 2px;
    background-color: lightgreen;
}

main {
    position: relative;
    height: 1fr;
}
.card-view{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 2vh 1vw;
}
.table-view, th, .user-table-row, .user-table-row>td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px 5px;
}
table {
    max-width: 100vw;
    overflow-x: scroll;
}
.card-element {
    background-color: rgb(176, 185, 202);
    padding: 2%;
    color: blue;
    border: 2px solid lightblue;
    border-radius: 20px;
}
.card-element:hover {
    border-color: rgb(64, 233, 64);
}
.username {
    font-size: large;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}
.email {
    font-style: italic;
    font-weight: 600;
}
.name {
    font-style: italic;
    font-weight: 600;
}
.phone {
    font-style: italic;
    font-weight: 600;
}
.website {
    margin: 10px 0px;
}
.label {
    font-style: normal;
    font-weight: normal;
}
main {
    padding: 1vh 1vw;
}
.search-items, form {
    padding: 1vh 1vw; 
    display: flex;
    justify-content: space-evenly;
    margin: 1vh 10px;
}
.loading-spinner {
    display: inline-flex;
    position: absolute;
    top: 45vh;
    border: 2vh solid rgba(0,0,0,0);
    border-radius: 10vh;
    border-top: 2vh solid blue;
    z-index: 100;
    width: 10vh;
    height: 10vh;
    justify-self: center;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
footer{
    background-color: lightgreen;
    position: sticky;
    top: 90vh;
    color: rgb(55, 55, 55);
    margin-top: 5vh;
    padding: 20px 10px;
}
/* @media only screen and (max-width: 1200px) {
    .card-view {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 800px){
    .card-view {
        grid-template-columns: 1fr 1fr;
    }
} */
@media (max-width: 400px){
    nav li+li {
        margin-top: 5px;
        z-index: 100
    }
    nav li{
        text-align: right;
        margin-right: 20px;
    }
    ul{
        display: inline-block;
    }
    /* .card-view{
        grid-template-columns: 1fr;
    } */
}